.container {
    width: 100vw;
    height: 100vh;
    background: #6c7a89;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    width: 300px;
    height: 400px;
    background: #fff;
    animation: go-back 1s infinite alternate;
}

@keyframes go-back {
    from {
        transform: translateX(400px);
    }
    to {
        transform: translateX(0);
    }
    
}

.move {
    width: 200px;
    height: 200px;
    /* background: #FF000F; */
    position: relative;
    animation-name: mymove ;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    z-index: 2;
    display: flex;
    position: fixed ;
    justify-content: left ;
    align-items: flex-start ;
  }

@keyframes mymove {
    from {
        top: 0px;
    }
    to {
        top: 88%;
    }
}

.move img {
    width: 50%;
}

.google-logo {
    width: 300px;
    height: 300px;
    position: relative;
    background: #fff;
    border-top: 100px solid #ea4335;
    border-right: 100px solid #4285f4;
    border-bottom: 100px solid #34a853;
    border-left: 100px solid #fbbc05;
    padding: 0;
    margin: 10vh auto 10vh;
    border-radius: 50%;
}

.google-logo:before {
    position: absolute;
    content: '';
    background: #4285f4;
    width: 245px;
    height: 100px;
    z-index: 100;
    top: 100px;
    right: -205px;
    transform: translate(-50%);
}
.google-logo:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 200px solid transparent;
    border-right: 200px solid #fff;
    z-index: 101;
    top: -100px;
    right: -100px;
}